body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #b3e5fc;
  font-family: 'Arial', sans-serif;
}

.calculator {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.calculator__display {
  grid-row: 1;
  background: #333;
  color: #fff;
  font-size: 2.5rem;
  text-align: right;
  padding: 20px;
  box-sizing: border-box;
}

.calculator__keys {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  background: #ccc;
}

button {
  background: white;
  border: none;
  font-size: 1.5rem;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
}

button:active {
  background: #f0f0f0;
}

.key__operator {
  background: #b1b1b1;
  color: white;
}

.key__operator:active {
  background: #c0c0c0;;
}

[data-action="clear"] {
  background: #e57373;
  color: white;
}

[data-action="clear"]:active {
  background: #d32f2f;
}

.key__equal {
  background: #ffa726;
  color: white;
  grid-row: span 4;
}

.key__equal:active {
  background: #fb8c00;
}
