/* Base Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

/* Container */
.container {
    margin: auto;
    padding: 20px;
}

/* Header */
h1 {
    font-weight: bold;
    text-align: center;
    color: #444;
}

/* Search Container */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
}

#searchInput {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

#searchBtn {
    background-color: #ffeb3d;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.3s;
}

#searchBtn:hover {
    background-color: #fbc02d;
}

/* Recipe Container */
.recipe-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.recipe-card {
    background: #fff;
    border-radius: 20px;
    padding: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.01);
    overflow: hidden;
    text-align: center;
}

.recipe-card:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
    max-width: 70%;
    height: 40%;
}

.recipe-card h3 {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    font-size: 19px;
}

.recipe-card p {
    font-size: 17px;
    color: #777;
    margin-bottom: 10px;
}

.show-recipe-btn {
    background-color: #ffeb3d;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.show-recipe-btn:hover {
    background-color: #fbc02d;
}

/* Modal */
#recipeModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}


.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 90%;
    text-align: center;
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
}

.close:hover {
    color: #444;
}

/* Modal Instructions Container */
#modalContent {
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
