/* General Reset */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background: linear-gradient(135deg, #e0f7fa, #80deea);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main Container */
.main-container {
    margin-top: 10px;
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 90%;
    text-align: center;
}

/* Headings */
.headings-container h1 {
    font-weight: bold;
    font-size: 3rem;
    color: #355272;
    margin-bottom: 10px;
}

.headings-container .heading {
    font-weight: 300;
    color: #555;
    font-size: 1.5rem;
}

/* Form Container */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.form-input {
    width: 60%;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 0.3s ease;
    outline: none;
    font-weight: 500;
    background: #f9f9f9;
}

.form-input:focus {
    border-color: #80deea;
    box-shadow: 0 0 10px rgba(0, 150, 136, 0.4);
}

.image-generate-btn {
    padding: 15px 15px;
    font-weight: bold;
    background: #0077ff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease;
    margin-left: 10px;
    font-weight: bold;
}

.image-generate-btn:hover {
    background: #005fca;
}

.image-generate-btn:active {
    transform: scale(0.95);
}

/* Container for Generated Image */
.image-container {
    display: none;
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
}

#generated-image {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

#generated-image:hover {
    transform: scale(1.01);
}

#imageContainerText {
    font-weight: bold;
    color: #0077ff;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}
